<p id="notice"><%= notice %></p>

<h1>Showing weather</h1>

<h2>This is for static pinpoint: forecast = ForecastIO.forecast(40.7519846, -73.9697795)</h2>

<br>
    <%= @itrainshere %><br>
    <% @raininghere.each do |zip| %>
    <%= zip %>
    <% end %>
    
    
    
      